<h2><center>Week 6 - Assignment</center></h2>
<h3><center>Programming for Data Science 2025</center></h3>

Exercises for the topics covered in the sixth lecture.

The exercise will be marked as passed if you get **at least 15/20** points.

Exercises must be handed in via **ILIAS** (Homework assignments). Deliver your submission as a compressed file (zip) containing one .py or .ipynb file with all exercises. The name of both the .zip and the .py/.ipynb file must be *SurnameName* of the two members of the group. Example: Annina Helmy + Markus Anwander = *HelmyAnnina_AnwanderMarkus.zip* .

It's important to use comments to explain your code and show that you're able to take ownership of the exercises and discuss them.

You are not expected to collaborate outside of the group on exercises and submitting other groups’ code as your own will result in 0 points.

For question about the lecture content or exam, contact: *annina.helmy@students.unibe.ch* with the subject: *Programming for Data Science 2025 - Lecture XY*.
For questions about the excercise/grading of excercises, contact: *thea.waldleben@students.unibe.ch* or *patricia.gribi@students.unibe.ch* with the subject: *Programming for Data Science 2025 - Excercise XY*.

**Deadline: 14:00, April 3, 2025.**

<h3 style="text-align:left;">Exercise 1 - World Happiness Report<span style="float: right">8 points</span></h3>

You will find the CSV files *report.csv* and *region.csv* in the data folder for this assignment (Credit: https://www.kaggle.com/ajaypalsinghlo/world-happiness-report-2021).

1. Import the two *csv* files and save them in two variables called *df_report* and *df_region*. Create a new column "region" in the *df_report* dataframe by populating it with the correct region in the *df_region* dataframe. If a country does not exist in *df_region*, label it as "unknown" in *df_report*. Print *df_report* at the end. (*2 points*)

**NB** If you are unable to do the exercise, you can use the file *report_region.csv* in the data folder for the next points.

In [ ]:
###
# YOUR CODE HERE
###
import pandas as pd

df_report = pd.read_csv('data/report.csv')
df_region = pd.read_csv('data/region.csv')

# df_a.join(df_b, on='column') performs left join by default
# the behaviour is such that the INDEX from df_b is joined with the 'on' argument from df_a
# df_b.set_index('column') sets the column as index

df_report = df_report.join(df_region[['name', 'region']].set_index('name'), on='Country name')
df_report['region'] = df_report['region'].fillna('unknown')
display(df_report)

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,NaN,9.0,61.0,NaN
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,NaN,142.0,145.0,NaN
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,region
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258,Asia
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237,Asia
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275,Asia
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267,Asia
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209,Africa
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224,Africa
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212,Africa
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235,Africa
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346,Africa

2. Calculate and print the median "Healthy life expectancy at birth" per region in the year 2019. (*2 point*)

In [ ]:
###
# YOUR CODE HERE
###

print(df_report['Healthy life expectancy at birth'].median())

3. Create a Pivot table with the median "Healthy life expectancy at birth" per region (index) per year (column) and print it. (*1 point*)

In [ ]:
###
# YOUR CODE HERE
###

df_report_pivot = df_report.pivot_table('Healthy life expectancy at birth','year','region','median')
display(df_report_pivot)

region  Africa  Americas   Asia  Europe  Oceania  unknown
year
2005     59.70     65.80  63.50   70.05    71.40      NaN
2006     46.57     65.22  64.05   67.00    71.20  65.2300
2007     47.42     65.34  62.76   66.20    71.56  64.0950
2008     49.56     65.52  63.14   70.53    71.74  62.0150
2009     50.64     65.85  64.22   67.64      NaN  62.1320
2010     52.30     65.70  64.40   69.80    72.10  65.6010
2011     52.24     65.92  64.60   68.82    72.21  54.5800
2012     54.46     66.04  64.13   70.84    72.32  59.8855
2013     53.68     66.36  64.37   69.80    72.43  55.3400
2014     54.48     66.58  64.86   70.61    72.54  55.7200
2015     54.50     66.80  65.10   71.30    72.65  56.1000
2016     55.30     67.10  64.90   71.60    72.90  56.7000
2017     55.70     67.20  65.00   71.80    73.15  57.3000
2018     56.50     67.90  65.30   71.50    73.40  57.9000
2019     56.90     68.00  66.05   72.10    73.65  58.5000
2020     57.65     68.30  66.20   72.15    73.90  65.5600

4. Create a Pivot table (same structure as before) with the maximum "Log GDP per capita" per region per year and print it. In the resulting table, also add the overall values across years for each region, with the appropriate pandas method. (*1 point*)

In [ ]:
###
# YOUR CODE HERE
###

df_report_pivot = df_report.pivot_table('Log GDP per capita','year','region','max')
df_report_pivot['max overall'] = df_report_pivot.max(axis=1) 
display(df_report_pivot)

region  Africa  Americas    Asia  Europe  Oceania  unknown  max overall
year
2005     9.036    10.652  10.699  10.851   10.659      NaN       10.851
2006     9.492    10.924  11.367  11.050   10.526   10.746       11.367
2007     9.426    10.933  11.212  10.891   10.703    9.416       11.212
2008     9.590    10.922  11.178  11.042   10.719   10.816       11.178
2009     9.414    10.888  11.456  11.562      NaN   10.788       11.562
2010     9.556    10.905  11.520  11.592   10.722   10.847       11.592
2011     9.767    10.913  11.553  11.595   10.733   10.887       11.595
2012     9.842    10.928  11.523  11.567   10.754   10.893       11.567
2013     9.728    10.939  11.357  11.580   10.762   10.750       11.580
2014     9.865    10.956  11.383  11.598   10.772   10.940       11.598
2015     9.724    10.977  11.486  11.617   10.779   10.842       11.617
2016     9.935    10.986  11.419  11.640   10.791   10.970       11.640
2017     9.972    11.001  11.461  11.634   10.798   11.000       11.634
2018    10.008    11.025  11.490  11.645   10.811    9.677       11.645
2019    10.043    11.043  11.486  11.648   10.815   11.000       11.648
2020     9.972    11.001  11.053  11.323   10.760    9.690       11.323

5. Find the length of the shortest country name(s) in the dataset and print it, together with the actual countries (print just the unique occurrences!). Then, create a new column ”Short name”, where each country name is cut down to the length of the shortest country name. For instance, if the country with the shortest name is Germany (7 letters, and not true, just an example), ”Switzerland” would become ”Switzer”. (*2 points*)

In [13]:
###
# YOUR CODE HERE
###

shortest_length = df_report['Country name'].str.len().min()
print(f'shortest country name length: {shortest_length}')
shortest = df_report.loc[df_report['Country name'].str.len() == shortest_length, 'Country name'].unique()
print(f'shortest country names: {shortest}')

df_report['Short name'] = df_report['Country name'].str[0:shortest_length]

display(df_report[['Country name', 'Short name']].drop_duplicates())

shortest country name length: 4
shortest country names: ['Chad' 'Cuba' 'Iran' 'Iraq' 'Laos' 'Mali' 'Oman' 'Peru' 'Togo']

     Country name Short name
0     Afghanistan       Afgh
12        Albania       Alba
25        Algeria       Alge
33         Angola       Ango
37      Argentina       Arge
...           ...        ...
1879    Venezuela       Vene
1894      Vietnam       Viet
1908        Yemen       Yeme
1920       Zambia       Zamb
1934     Zimbabwe       Zimb

[166 rows x 2 columns]

<h3 style="text-align:left;">Exercise 2 - Weather data<span style="float: right">7 points</span></h3>

In this exercise, you'll use the *weather.csv* dataset that contains UK weather data. The dataset has columns year and month describing which year and month a specific recording belongs to. (Credit: https://www.kaggle.com/josephw20/uk-met-office-weather-data)

1. Import the dataset into a dataframe called *df_weather* and create a new column *datetime*, containing a datetime object for each row describing the year and month of the recording. The day can be set as the 1st of the month. Finally, print the dataframe. (*2 points*)

**NB**  If you are unable to do this exercise, you can use the file *weather_datetime.csv* in the data folder for the next points.

In [ ]:
###
# YOUR CODE HERE
###

df_weather = pd.read_csv('data/weather.csv')
datetime_arg = df_weather[['year', 'month']].copy()
datetime_arg['day'] = 1
df_weather['datetime'] = pd.to_datetime(datetime_arg)

display(df_weather)

         year  month  tmax  tmin   af   rain    sun    station   datetime
0      1941.0    1.0   NaN   NaN  NaN   74.7    NaN  aberporth 1941-01-01
1      1941.0    2.0   NaN   NaN  NaN   69.1    NaN  aberporth 1941-02-01
2      1941.0    3.0   NaN   NaN  NaN   76.2    NaN  aberporth 1941-03-01
3      1941.0    4.0   NaN   NaN  NaN   33.7    NaN  aberporth 1941-04-01
4      1941.0    5.0   NaN   NaN  NaN   51.3    NaN  aberporth 1941-05-01
...       ...    ...   ...   ...  ...    ...    ...        ...        ...
37044  2020.0    2.0  10.8   4.5  2.0  117.4   63.1  yeovilton 2020-02-01
37045  2020.0    3.0  11.5   3.0  6.0   43.4  159.2  yeovilton 2020-03-01
37046  2020.0    4.0  17.5   5.3  3.0   39.8  235.0  yeovilton 2020-04-01
37047  2020.0    5.0  19.7   6.8  2.0    3.6  305.6  yeovilton 2020-05-01
37048  2020.0    6.0  20.5  11.0  0.0  103.0  187.6  yeovilton 2020-06-01

[37049 rows x 9 columns]

2. Write a function *mean_rainfall* that takes in input the dataframe, the name of a weather station, the upper and lower bounds of a time interval and computes the mean *rain* for the time period between (and including) the upper and lower bound. Make the station name not case-sensitive. Use the inputs as in the example below (i.e. upper and lower bounds as strings) (*3 points*)

```python 
mean_rainfall(df_weather, "Manston", "january 2019", "march 2020")  # returns 49.52
mean_rainfall(df_weather, "manston", "january 2019", "march 2020")  # also returns 49.52
```

In [44]:
###
# YOUR CODE HERE
###


def mean_rainfall(df : pd.DataFrame,station : str, start : str, end : str) -> float:
    """Returns the mean rainfall between start and end dates"""
    
    start_dt = pd.to_datetime(start, format = '%B %Y')
    end_dt = pd.to_datetime(end, format = '%B %Y')
    
    mask =  (df['station'].str.upper() == station.upper())&\
            (df['datetime'] >= start_dt) &\
            (df['datetime'] <= end_dt)
            
    return df.loc[mask, 'rain'].mean()

print(mean_rainfall(df_weather, 'Manston', 'january 2019', 'march 2020'))
print(mean_rainfall(df_weather, 'manston', 'january 2019', 'march 2020'))

49.52
49.52

3. Expand the function *mean_rainfall* of the previous point, such that it also returns the number of days since the maximum rainfall in the time-period and the current date (use the date.today() to get the current date.) (*2 points*)

```python 
mean_rainfall(df_weather, "Manston", "january 2019", "march 2020")  # returns 49.52, 2004 (for date = 27. March 2025)
```

In [ ]:
###
# YOUR CODE HERE
###

<h3 style="text-align:left;">Exercise 3 - Football Scores<span style="float: right">5 points</span></h3> 
You will find a csv in the data folder named `D1_cleaned.csv`containing results from the 1. Bundesliga from this season. 
Under this link: https://www.football-data.co.uk/notes.txt you find the descriptions of the columns in this .csv-file.

1. 	Create a new DataFrame where each row represents a team. Use team names as the index. For every team, calculate the total number of goals scored throughout the season by summing FTHG and FTAG (Full Time Home Team Goals, Full Time Away Team Goals). *2 points*.

In [ ]:
### your code here ###

2. For each team, calculate the average number of shots on target they take per game, considering both home and away games. Add a new column called `Avg_Shots_Target` that contains this overall average, computed by taking the mean of: `HST` and `AST` (Home Team Shots on Target, Away Team Shots on Target). *1 point*.

In [ ]:
### your code here ###

3. Create a table that lists all the games where Bayern Munich either lost or drew. Include both home and away games in your analysis. 
A game is considered a draw if FTR = D, regardless of home or away. You need the column `FTR`and correct filtering to check whether Bayern Munich lost. 
The final table should show: 
- the opponent
- Whether Bayern Munich was home or away
- The Game result (FTR)
- Optional: Final Score (FTHG:FTAG) 

*2 points*

In [ ]:
### your code here ###