<h2><center>Week 4 - Assignment</center></h2>
<h3><center>Programming for Data Science 2025</center></h3>

Exercises for the topics covered in the fourth lecture.

The exercise will be marked as passed if you get **at least 10/15** points.

Exercises must be handed in via **ILIAS** (Homework assignments). Deliver your submission as a compressed file (zip) containing one .py or .ipynb file with all exercises. The name of both the .zip and the .py/.ipynb file must be *SurnameName* of the two members of the group. Example: Annina Helmy + Markus Anwander = *HelmyAnnina_AnwanderMarkus.zip* .

It's important to use comments to explain your code and show that you're able to take ownership of the exercises and discuss them.

You are not expected to collaborate outside of the group on exercises and submitting other groupsâ€™ code as your own will result in 0 points.

For question about the lecture content or exam, contact: *annina.helmy@students.unibe.ch* with the subject: *Programming for Data Science 2025 - Lecture XY*.
For questions about the excercise/grading of excercises, contact: *thea.waldleben@students.unibe.ch* or *patricia.gribi@students.unibe.ch* with the subject: *Programming for Data Science 2025 - Excercise XY*.
**Deadline: 14:00, March 20, 2025.**

<h3 style="text-align:left;">Exercise 1 - Create Dataframes<span style="float: right">5 points</span></h3>

Create a DataFrame *episodes_df* with the columns **ses**, **ep**, and **title**, as below:

|**ses**|**ep**|**title**|
|:---|:---|:---|
|1|1|One|
|1|2|Two|
|2|1|Three|
|2|2|Four|

Create a DataFrame *imdb_df* with the columns **ses**, **ep**, and **score**, as below:

|**ses**|**ep**|**score**|
|:---|:---|:---|
|1|1|8.4|
|1|2|8.1|
|2|1|7.9|
|2|2|7.7|

Merge the two DataFrames. Then, find and print the title of the episode with the higest score.

ðŸ’¡**Hint**: To merge the two dataframes you have to use the *merge* method:
```python
merged_df = episodes_df.merge(imdb_df, on=['ses', 'ep'])
```


1. By manipulating the dataframes, find and print the title of the episode with the higest score. (*3 points*)

In [13]:
import pandas as pd

In [14]:
###
# YOUR CODE HERE
###

2. Change the **score** of the entry with the title "Three" in the DataFrame you created in Task 1 and print the result. The new score should be 6. (*2 points*)

In [15]:
###
# YOUR CODE HERE
###

<h3 style="text-align:left;">Exercise 2 - Load DataFrames<span style="float: right">6 points</span></h3>

1. Load the dataset `spotify_songs.csv` in the data folder. **(2 points)**
- Display the first five rows of the dataset. *(0.5 points)*
- Check the number of rows and columns *(0.5 points)*
- Display the column names of the dataset. *(0.5 points)*
- Count the number of missing values in each column and drop the rows with the missing values. *(0.5 points)*

```python
spotify_df = pd.read_csv('./data/spotify_songs.csv')
```
```

In [16]:
###
# YOUR CODE HERE
###

spotify_df = pd.read_csv('./data/spotify_songs.csv')

display(spotify_df.head(5))

# get shape of df
print(f'Number of rows and collumns: {spotify_df.shape}')

# get missing values per collumn
missing_per_collumn = spotify_df.isna().sum()
display(missing_per_collumn)

# drop the rows with missing values
cleaned_spotify_df = spotify_df.dropna()

,spotify_id,name,artists,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity,is_explicit,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,2plbrEY59IikOBgBGLjaoe,Die With A Smile,"Lady Gaga, Bruno Mars",1,1,0,NaN,2025-02-17,98,False,...,6,-7.777,0,0.0304,0.3080,0.0000,0.122,0.535,157.969,3
1,2CGNAOSuO1MEFCbBRgUzjd,luther (with sza),"Kendrick Lamar, SZA",2,1,4,NaN,2025-02-17,90,False,...,2,-7.546,1,0.1250,0.2510,0.0000,0.248,0.576,138.008,4
2,6AI3ezQ4o3HUoP6Dhudph3,Not Like Us,Kendrick Lamar,3,-2,8,NaN,2025-02-17,92,True,...,1,-7.001,1,0.0776,0.0107,0.0000,0.141,0.214,101.061,4
3,4wJ5Qq0jBN4ajy7ouZIV1c,APT.,"ROSÃ‰, Bruno Mars",4,0,-2,NaN,2025-02-17,89,False,...,0,-4.477,0,0.2600,0.0283,0.0000,0.355,0.939,149.027,4
4,6dOtVTDdiauQNBQEDOtlAB,BIRDS OF A FEATHER,Billie Eilish,5,1,-2,NaN,2025-02-17,96,False,...,2,-10.171,1,0.0358,0.2000,0.0608,0.117,0.438,104.978,4

Number of rows and collumns: (10000, 25)

spotify_id              0
name                    0
artists                 0
daily_rank              0
daily_movement          0
weekly_movement         0
country               150
snapshot_date           0
popularity              0
is_explicit             0
duration_ms             0
album_name              0
album_release_date      0
danceability            0
energy                  0
key                     0
loudness                0
mode                    0
speechiness             0
acousticness            0
instrumentalness        0
liveness                0
valence                 0
tempo                   0
time_signature          0
dtype: int64

2. Analyzing Dataset **(4 points)**

**Work with the cleaned dataset**.

- Find the songs with the highest rank (`daily_rank`) on the 17.02.2025 (`snapshot_date`). Print the song name and the artist and the country in which the song had highest rank. *(0.5 points)*
- Find the song with the lowest daily rank on the 17.02.2025. Print the song name and the artist and the country in which the song had highest rank. *(0.5 points)*
- Map the country abbreviations to the full country names. (e.g. ZA -> South Africa) (on the whole cleaned spotify dataset). Meaning you should create a new column where we have the full country name written. *(0.5 points)*
- Plot the artists who had the most songs in this spotify list in Switzerland on the 17.02.2025. Use a bar plot (e.g. x-axis: artist name, y-axis: number of songs).
    - Python: `plt.bar(x = artists_values.index, height = artists_values.values)`. *(1 point)*
- Calculate the mean and median popularity per song on the 17.02.2025 (across the cleaned dataset). Print the results. (Hint: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html; group by the song name). *(1 point)*
- Determine the average danceability score of songs by Billie Eilish. *(0.5 points)*

In [17]:
country_dict = {
    'ZA': 'South Africa',
    'VN': 'Vietnam',
    'VE': 'Venezuela',
    'UY': 'Uruguay',
    'US': 'United States',
    'UA': 'Ukraine',
    'TW': 'Taiwan',
    'TR': 'Turkey',
    'TH': 'Thailand',
    'SV': 'El Salvador',
    'SK': 'Slovakia',
    'SG': 'Singapore',
    'SE': 'Sweden',
    'SA': 'Saudi Arabia',
    'RO': 'Romania',
    'PY': 'Paraguay',
    'PT': 'Portugal',
    'PL': 'Poland',
    'PK': 'Pakistan',
    'PH': 'Philippines',
    'PE': 'Peru',
    'PA': 'Panama',
    'NZ': 'New Zealand',
    'NO': 'Norway',
    'NL': 'Netherlands',
    'NI': 'Nicaragua',
    'NG': 'Nigeria',
    'MY': 'Malaysia',
    'MX': 'Mexico',
    'MA': 'Morocco',
    'LV': 'Latvia',
    'LU': 'Luxembourg',
    'LT': 'Lithuania',
    'KZ': 'Kazakhstan',
    'KR': 'South Korea',
    'JP': 'Japan',
    'IT': 'Italy',
    'IS': 'Iceland',
    'IN': 'India',
    'IL': 'Israel',
    'IE': 'Ireland',
    'ID': 'Indonesia',
    'HU': 'Hungary',
    'HN': 'Honduras',
    'HK': 'Hong Kong',
    'GT': 'Guatemala',
    'GR': 'Greece',
    'FR': 'France',
    'FI': 'Finland',
    'ES': 'Spain',
    'EG': 'Egypt',
    'EE': 'Estonia',
    'EC': 'Ecuador',
    'DO': 'Dominican Republic',
    'DK': 'Denmark',
    'DE': 'Germany',
    'CZ': 'Czech Republic',
    'CR': 'Costa Rica',
    'CO': 'Colombia',
    'CL': 'Chile',
    'CH': 'Switzerland',
    'CA': 'Canada',
    'BY': 'Belarus',
    'BR': 'Brazil',
    'BO': 'Bolivia',
    'BG': 'Bulgaria',
    'BE': 'Belgium',
    'AU': 'Australia',
    'AT': 'Austria',
    'AR': 'Argentina',
    'AE': 'United Arab Emirates',
    'GB': 'United Kingdom'
}

In [18]:
###
# YOUR CODE HERE
###

<h3 style="text-align:left;">Exercise 3 - DataFrames Ufuncs<span style="float: right">4 points</span></h3>

Create the two dataframe *df1* and *df2* with the following code:

In [19]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame(
    np.arange(1, 10).reshape(3, 3),
    columns=["a", "b", "c"],
    index=["1", "2", "3"]
)

df2 = pd.DataFrame(
    np.arange(1, 10).reshape(3, 3) / 2,
    columns=["a", "b", "d"],
    index=["1", "2", "4"]
)

1. Add the two dataframes together, with the appropriate pandas method, and print the result. (*0.5 points*)

In [23]:
###
# YOUR CODE HERE
###

pandas_sum = df1 + df2

display(pandas_sum)

     a    b   c   d
1  1.5  3.0 NaN NaN
2  6.0  7.5 NaN NaN
3  NaN  NaN NaN NaN
4  NaN  NaN NaN NaN

2. Add the underlying numpy objects of the two dataframes, and print the result. (*0.5 points*)

In [24]:
###
# YOUR CODE HERE
###

numpy_sum = df1.to_numpy() + df2.to_numpy()

display(numpy_sum)

array([[ 1.5,  3. ,  4.5],
       [ 6. ,  7.5,  9. ],
       [10.5, 12. , 13.5]])

3. Compare the two results that you obtained and comment if and **why** they are different. (*3 points*)

In [ ]:
###
# YOUR COMMENT HERE
###

display(pandas_sum)
display(numpy_sum)

The main diffrence between `df1.to_numpy() + df2.to_numpy()` and `df1 + df2` is:
 - numpy infers which rows and columns to add form the shape of the objects
 - pandas adds elements together which are in the same row and in the same column
The addition of the dataframes will always work even if the shapes do not match, this is not the case with numpy:
since df1 and df2 have the same shape, the numpy arrays will also have the same shape and it will be possible to add them together
this numpy addition does **not** hovever correspond to adding the dataframes which will differentiate between rows and collumns with diffrent names